div {
    margin:auto;
}

mat-slider {
    width: 500px;
}

.slider-container{
    /* width: 450px; */
    margin-top: 20px;
    margin-bottom: 20px;
}

.slider-text-container{
    display: flex;
    justify-content: space-between;
    color: #8c8c8c; 
}

div.calculate-quote{
    margin-top: 10px;
}
