div {
    margin:auto;
}

mat-slider {
    width: 500px;
}

mat-form-field{
    width: 245px;
    padding: 2.5px;
}

.slider-container{
    /* width: 450px; */
    margin-bottom: 20px;
}

.slider-text-container{
    display: flex;
    justify-content: space-between;
    color: #8c8c8c; 
}

div.calculate-quote{
    margin-top: 10px;
}

.name-row{
    display: flex;
}

.name-title{
    width: 75px !important;
}