/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-slider.mat-accent .mat-slider-track-fill, .mat-slider.mat-accent .mat-slider-thumb, .mat-slider.mat-accent .mat-slider-thumb-label {
    background-color: #00d1cf !important;
}

.mat-slider.mat-accent .mat-slider-thumb-label-text {
    color: white
}

.margin-auto{
    margin: auto !important;
}

.text-align-center{
    text-align: center;
}